<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.github.wangfeng.learn.springboot.mybatis.single.mapper.BlogMapper">


    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into `blog`(`name`,`status`) values (#{name},#{status})
    </insert>
    <insert id="insertWithMap">
        insert into `blog`(`name`,`status`) values (#{name},#{status})
    </insert>
</mapper>
